body {
	margin: 0;
}
header p{
	position: relative;
	top: -20px;
}
#searchbar {
	position: absolute;
	top: 36px;
	right: 16px;
	font-size: 18px;
}
.grid-container {
	display: grid;
	gridgap: 10px 10px;
	
}