body {
	margin: 0;
}
header {
	font-family: verdana;
}
header h1 {
	position: relative;
	left: 10px;
}
header p {
	position: relative;
	top: -20px;
	left: 10px;
}
#searchbar {
	position: absolute;
	top: 36px;
	right: 16px;
	font-size: 18px;
}
.grid-container {
	display: grid;
	gridgap: 10px 10px;
	
}