#cookie {
    width: 200px;
}
body a{
    color: black;
    text-decoration: none;
}
.shopicon {
    width: 40px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(126, 126, 126);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  #cookie {
    touch-action: manipulation
  }
